.page {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;

  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
}

/* Header Section */

.header {
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
}

.logo {
  width: 125px;
  height: 142px;
  position: absolute;
  left: 30px;
  top: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.nav {
  display: flex;
  justify-content: end;
  margin: 0;
}

.nav__link {
  text-decoration: none;
  color: #000;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header__text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Shifts the block up to fix the offset from the nav block. It makes more organizational sense to include the nav under .header__text,
  but the Practicum automated checking systems throw an error when it's not a direct child of .header */
  margin-top: -20px;
}

.header__title {
  font-weight: inherit;
  font-size: 60px;
  line-height: 72px;

  max-width: 729px;
  margin: 202px 0 0;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  color: #2f80ed;

  display: block;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  max-width: 683px;
  margin: 28px 0 0;
}

.header__footer {
  color: #838383;

  display: flex;
  align-items: end;
  justify-content: space-between;
  box-sizing: border-box;
  margin: auto 0 0;
}

.header__paragraph {
  margin: 0;
}

/* Recipes Section */

.recipes {
  color: #fff;

  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  padding: 100px 80px 215px;
  display: flex;
  flex-direction: column;
}

.recipes__title {
  font-size: 44px;
  line-height: 52px;

  max-width: 580px;
  margin: 0;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  max-width: 438px;
  margin: 24px 0 0;
}

.recipes__videos {
  margin: 80px auto 0;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.recipes__video {
  width: 480px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  display: block;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0;
}

.recipes__video-caption-text {
  font-size: 20px;
  line-height: 30px;

  margin: 0;
}
